* {margin :0; padding:0;}

@viewport{
    width: 480px;
    zoom:1;
}

header, nav, footer, body {
    display: block;
    width: 100%;
}
#wrapper {
width: 1000px;
margin: 0px auto;
position: relative;
margin: 0px auto;
}

header { 
    display: flex;
    height: 192px;
    background-color:  #e1e1e1;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#logo {
    background-image: url(../images/logo.png);
    width: 83px;
    height: 83px;
}

nav {
    background-color: black;
}

li {
    list-style: none;
}

a{ 
    display: inline-block;
    text-decoration: none;
    color: floralwhite;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    font-size: 20px;
    height: 100%;
}

.Layout1 {
    height: 60px;
    
}

.mainLo1 {
    height: 696px;
}

.col {
    width: 233px;
    float:left;
    list-style: none;
}

.col a {
    margin-top: 11px;
    height: 40px;
    line-height: 1.9;
    text-align: center;
}
.hov a:hover {
    background-color: #808080;
}
.col.first {
    padding-left: 39px;
}
.mark a {
    background-color: dodgerblue;
}

.col.Main {
    height: 100%;
}

.Rectangle {
    position: relative;
    height: 235px;
    width: 235px;
}

.Rectangle.Top {
    margin-top: 24px;
}

.Rectangle.Bottom {
    margin-top: 437px;
}
.Square {
    position: absolute;
    height: 100px;
    width: 100px;
}

.RedSquare {
    background-color: #ba1818;
}
.Square.TR {
    right: 0px;
}

.Square.BR {
    right: 0px;
    bottom: 0px;
}

.Square.BL {
    bottom: 0px;
}

aside {
    position: relative;
    width: 244px;
    height: 100%;
    background-color: #f6f6f6;
    float:right;
}

footer {
    height: 50px;
    background-color:#e1e1e1;
}

.sider {
    position: absolute;
    top: 200px;
    left: 81px;
    height: 59px;
    width: 148px;
    background-color: #ba1818;
}
/*-----------------------------------------------------------------------------------------------------*/
#Layout2 {
    height: 1000px;
}
.nav2 {
    width: 146px;
    height:1000px;
    background-color: black;
    float: left;
}

 .mainLo2 {
    display: flex;
    flex-wrap: wrap;
 }
.navLo1 {
    line-height: 3;
    height: 59px;
    width: 100%;
}

.col2 {
    width: 257px;
    height: 1000px;
    background-color: #f6f6f6;
}

.col3 {
    position: relative;
    width: 597px;
    height: 100%;
}

.RectLo2 {
    margin-top: 510px;
    margin-left: 11px;
}
.GreenRect {
    background-color: #1b8517;
}

.Rect {
    position: absolute;
    width: 270px;
}
.Rect.TLLo2 {
    height: 324px;
    top: 22px;
    left: 22px;
}

.Rect.TRLo2 {
    height: 254px;
    top: 22px;
    right: 19px;
}

.Rect.BLLo2 {
    height: 412px;
    top: 370px;
    left: 22px;
}

.Rect.BRLo2 {
   height: 364px;
   top: 300px;
   right: 19px;
}

#Layout2 footer {
    position: fixed;
    bottom: 0;
}

.normalRect3 {
    position: relative;
    width: 333px;
    height: 348px;
}
.firstRect3 {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 333px;
    height: 348px;
}

.picRect3 {
    position: relative;
    width: 333px;
    height: 348px;
    background-image: url(../images/pic_Rect.jpg);
}
.mainLo3 {
    display: flex;
    flex-wrap: wrap;
    margin: 0px auto;
}

.nav3 {
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
}
.colLo3 {
    height: 60px;
    line-height: 3;
    text-align: center;
    width: 233px;
    float:left;
    list-style: none;
}

.plus {
    background-image: url(../images/plus-icon.png);
    top:131px;
    left: 123px;
    width: 86px;
    height: 86px;
}

.star {
    background-image: url(../images/star-icon.png);
    position: absolute;
    right: 13px;
    top: 9px;
    width: 50px;
    height: 50px;
}

.main3.div {
    background-color:black ;
}

@media only screen and (max-width:600px){
    #wrapper {
        width: 480px;
        }

    .normalRect3 {
        width: 240px;
        height:174px;
    }

    .plus {
        background-image: url(../images/plus-icon_small.png);
        width: 50px;
    height: 50px;
    }

    .star {
        background-image: url(../images/star-icon_small.png);
        width: 30px;
        height: 30px;
    }

    .firstRect3 {
        width: 240px;
        height:174px;
    }
    
    
    .picRect3{
        width: 240px;
        height:174px;
        background-image: url(../images/pic_Rect_small.jpg);
    }

    .colLo3 { /*navigation*/
        width: 160px;
        font-size: 14px;
    }
}
